# python
## python
### python
#### python
##### python
###### python

# python
- Day1
- Day2
- Topic
- point1
 - subpoint 1.1
 - subpoint 1.2

# Python Introduction
- Python 3
- Python can be used as Functional Programming
- Python can be used as Scripting Programming
- Python is initially designed by **guido van rossum** in 1991

In [1]:
# input and output function
# output function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [2]:
# input function
print("enter your name :")
a=input('')
print('your name is',a)

enter your name :
N.Laxmi Satvika
your name is N.Laxmi Satvika

In [4]:
print("markdown cell",end=' ')
print("code cell")

markdown cell code cell

# Variables are also called as identifiers
## Variable name starts with alphabets
### Doesnot start with any special character except _
#### Doesnot start with digits

In [5]:
x = 5
type (x)

int

In [6]:
y = 6
x+y

11

# fundamental data types
## int
## float
## complex
## boolean
## string

In [8]:
x = 23
y = 10.5
print(x+y)
type(y)

33.5

float

In [11]:
a =2+ 2j
b = 3 + 3j 
print(a+b)

(5+5j)

In [12]:
# typecasting
a= 12.4
int(a)

12

In [13]:
a = 12
float(a)

12.0

In [18]:
a = 12.54
print(int(a))
print (complex(a))

12
(12.54+0j)

In [15]:
complex(5,3)

(5+3j)

In [19]:
a = True
type(a)

bool

In [20]:
#string
a='python'
type(a)

str

In [22]:
a='python'
b='p'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [26]:
a='100'
type(a)
int(a)

100

In [27]:
a='100'
print (type(a))
b=int(a)
print(type(b))
c=float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [29]:
a = "1234"
len(a)

4

# operators:
## Arithmetic Operator:
### +,-,*,/,%,//,**

In [30]:
123/5

24.6

In [31]:
123//5

24

In [33]:
a = 3
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

# Logical Operators
## and,or,not

In [35]:
x = 12
y = 5
print(x>= 20 and y<= 3)
print(x >= 20 or y>2)
not x

False
True

False

In [36]:
x=0
not x

True

In [37]:
x=1
not x

False

# Relational Operators
## <,<=,>,>=,==,!=

In [38]:
x = 5
y = 6
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

False
False
True
True
False
True

# Membership Operator
## in,not in

In [40]:
a = 'python'
print('p' in a)

True

In [41]:
a='python'
print('p' in a)
print('P' in a)
print('p' not in a)
print('P' not in a)

True
False
False
True


# Conditional Statements
## if
## if else
## else if
## if condition:
 - Statemets

In [42]:
# To check the given number is even or odd
input("enter a number")

enter  a number5

'5'

In [43]:
type(a)

str

In [47]:
a=int(input("eneter a number"))
if a%2==0 :
    print("even")
else :
    print("odd")

eneter a number8
even

In [52]:
#to check if it is divisible by 3 and 5(Perfect multiple)
a=int(input("enter a number"))
if(a%3==0 and a%5==0):
    print("it is divisible")
else:
    print("it is not divisible")

enter a number30
it is divisible

In [55]:
#To Check If it is negative or positive
n=int(input(""))
if n>0:
    print("Positive Number")
elif n<0:
    print("Negative Number")
elif n==0:
    print("Zero")

8
Positive Number

In [62]:
n=int(input(""))
if (n%4==0 or n%400==0 and n%100!=0):
    print("leap year")
else:
    print("not a leap year")

2019
not a leap year

# Looping Statements
## while Loop
## do while Loop

# Syntax 
- while condition
  - Statements

In [69]:
#Print numbers from 1 to n #10
n= int(input(''))
i = 1
while i<=n:
    print(i)
    i+=1# i =i+1

10
1
2
3
4
5
6
7
8
9
10